<div class="row">
  <div class="col-xs-1">
    left mav
  </div>
  <div class="col-xs-8">
    <div class="jumbotron">
      <%= form_tag tweets_path, method:"post" do %>
      <label for="post_tweet">What news do you want to share with others?</label>
      <br>
      <textarea name="post_tweet" class="post-tweet" rows="5"></textarea>
      <button class="btn btn-success">POST</button>
      <% end %>
    </div>
    <!---list tweets -->
    <% @tweets.each do |tweet| %>
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-1">
          <%= image_tag(User.find_by(id: tweet.user_id).image, class: "protrait")%>
        </div>
        <div class="col-xs-11">
          <h4><%= User.find_by(id: tweet.user_id).username %></h4>
          <br>
          <%= tweet.content %>
          <br>
          <% if tweet.image.present? %>
          <%= image_tag tweet.image, class: "tweet-image" %>
          <% end %>
          <br><br>
          <small><%= Time.at(tweet.date) %></small>
        </div>
      </div>
      <hr>
      <div class="col-xs-3">
        <a href="#" >Like</a>
      </div>
      <div class="col-xs-3">
        <a href="#" >Comment</a>
      </div>
      <% if tweet.user_id == cookies["user_id"].to_i %>
      <div class="col-xs-3">
        <%= link_to 'Edit', edit_tweet_path(tweet.id), method: :get %>
      </div>
      <div class="col-xs-3">
        <%= link_to 'Delete', tweet_path(tweet.id), method: :delete %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <!-- right nav bar -->
  <div class="col-xs-3">
    <% if cookies["user_id"].present? %>
    <div class="jumbotron">
      <%= image_tag(User.find_by(id: cookies["user_id"].to_i).image, class: "protrait")%>
      <%= User.find_by(id: cookies["user_id"].to_i).username%>
      <hr>
      <li>following</li>
      <li>follower</li>
      <li>tweets</li>
    </div>
    <% end %>
  </div>
</div>